<%- include('partials/header') %>

<div class="container my-5">
  <h1 class="text-center"><%= title %></h1>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% bands.forEach(band => { %>
      <div class="col">
        <div class="card h-100 shadow-sm">
          <img src="<%= band.image_url %>" class="card-img-top" alt="<%= band.name %>">
          <div class="card-body">
            <h5 class="card-title"><%= band.name %></h5>
            <p class="card-text"><%= band.description %></p>
          </div>
        </div>
      </div>
    <% }); %>
  </div>
</div>

<%- include('partials/footer') %>
